@keyframes dotPulse {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.5);
  }
}

.loadingDots {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 5px;
}

.loadingDots div {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #b8ffb8;
  animation: dotPulse 1.4s infinite ease-in-out both;
}

.loadingDots div:nth-child(1) {
  left: 0px;
  animation-delay: -0.32s;
}

.loadingDots div:nth-child(2) {
  left: 6px;
  animation-delay: -0.16s;
}

.loadingDots div:nth-child(3) {
  left: 12px;
  animation-delay: 0s;
}