.horizontal .radioButton:first-child {
  border-left: none;
}

.horizontal .radioButton:last-child {
  border-right: none;
}

.vertical .radioButton:first-child {
  border-top: none;
}

.vertical .radioButton:last-child {
  border-bottom: none;
}