@tailwind base;
@tailwind components;
@tailwind utilities;

.baseFlex {
  @apply flex items-center justify-center;
}

.baseVertFlex {
  @apply flex flex-col items-center justify-center;
}

body {
  background-image: url("/backgroundTexture/backgroundTexture.png");
  background-repeat: repeat;
}

.topBackFacingCardInDeck {
  animation: rotateDeck 1s linear infinite;
  animation-play-state: paused;
}

@keyframes rotateDeck {
  0% {
    top: 0;
    z-index: 1000;
  }

  35% {
    top: -80px;
  }

  55% {
    z-index: 1;
  }

  100% {
    top: 0;
    z-index: 500;
  }
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: .5rem solid rgba(255, 255, 255, 0.2);
  border-right: .5rem solid rgba(255, 255, 255, 0.2);
  border-bottom: .5rem solid rgba(255, 255, 255, 0.2);
  border-left: .5rem solid #ffffff;
  width: 3rem;
  height: 3rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: loadingCircle 1.1s infinite linear;
  animation: loadingCircle 1.1s infinite linear;
}

@-webkit-keyframes loadingCircle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loadingCircle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.skeletonLoading {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}