.toolTipBelow,
.toolTipAbove {
  position: absolute;
  z-index: 400;
}

.toolTipBelow::after,
.toolTipAbove::after {
  border: 10px solid hsla(0, 0%, 76%, 0);
  content: "";
  height: 0;
  left: 50%;
  margin-left: -10px;
  pointer-events: none;
  position: absolute;
  width: 0;
}

.toolTipAbove::after {
  border-top-color: #fff;
  bottom: -20px;
}

.toolTipBelow::after {
  border-bottom-color: #fff;
  top: -20px;
}