.topInnerGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  grid-template-areas:
    " squeakDeck squeakHand0 squeakHand1 squeakHand2 squeakHand3 "
    " . . cardBeingPlayedOnBoard . playerAvatar ";
  width: 50%;
  /* maybe just have a max-width so things don't get too stretched out */
  /* margin: 1rem; */
  rotate: 180deg;
}

.leftInnerGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  grid-template-areas:
    " . squeakDeck "
    " . squeakHand0 "
    " cardBeingPlayedOnBoard squeakHand1 "
    " . squeakHand2 "
    " playerAvatar squeakHand3 ";
  width: 50%;
  /* maybe just have a max-width so things don't get too stretched out */
  /* margin: 1rem; */
  rotate: 90deg;
}

.rightInnerGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  grid-template-areas:
    " squeakDeck . "
    " squeakHand0 . "
    " squeakHand1 cardBeingPlayedOnBoard "
    " squeakHand2 . "
    " squeakHand3 playerAvatar ";
  width: 50%;
  /* maybe just have a max-width so things don't get too stretched out */
  /* margin: 1rem; */
  rotate: 270deg;
}

/* maybe can get away with just declaring them once below? */
.squeakDeck {
  grid-area: squeakDeck;
}

.squeakHand0 {
  grid-area: squeakHand0;
}

.squeakHand1 {
  grid-area: squeakHand1;
}

.squeakHand2 {
  grid-area: squeakHand2;
}

.squeakHand3 {
  grid-area: squeakHand3;
}

.cardBeingPlayedOnBoard {
  grid-area: cardBeingPlayedOnBoard;
}

.playerAvatar {
  grid-area: playerAvatar;
}