.topInnerGridContainer,
.leftInnerGridContainer,
.rightInnerGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  grid-template-areas:
    " squeakDeck squeakHand0 squeakHand1 squeakHand2 squeakHand3 "
    " deck . hand . playerAvatar ";
  /* width: 50%; */
  /* maybe just have a max-width so things don't get too stretched out */
  /* margin: 1rem; */
}

.topInnerGridContainer {
  rotate: 180deg;
}

.leftInnerGridContainer {
  rotate: 90deg;
}

.rightInnerGridContainer {
  rotate: 270deg;
}

/* maybe can get away with just declaring them once below? */
.squeakDeck {
  grid-area: squeakDeck;
}

.squeakHand0 {
  grid-area: squeakHand0;
}

.squeakHand1 {
  grid-area: squeakHand1;
}

.squeakHand2 {
  grid-area: squeakHand2;
}

.squeakHand3 {
  grid-area: squeakHand3;
}

.playerDeck {
  grid-area: playerDeck;
}

.playerHand {
  grid-area: playerHand;
}

.playerAvatar {
  grid-area: playerAvatar;
}

/* adjustment rotations to make sure player avatars are shown upright */
.topInnerGridContainer .playerAvatar {
  rotate: 180deg !important;
}

.leftInnerGridContainer .playerAvatar {
  rotate: 90deg !important;
}

.rightInnerGridContainer .playerAvatar {
  rotate: 270deg !important;
}