.fullBoardGrid {
  display: flex;
  flex-direction: column;
  overflow: hidden !important;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  gap: 0.5rem;
  padding: 3rem 0.75rem 0.5rem 0.75rem;
  /* ^ for the mini voting container results and space to render settings cog
     for <Sheet /> */
}

.currentPlayerCards,
.leftPlayerCards,
.rightPlayerCards,
.topPlayerCards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftPlayerCards,
.rightPlayerCards,
.topPlayerCards {
  width: 0;
  height: 0;
}

.topPlayerCards {
  grid-area: topPlayerCards;
  justify-content: center;
}

.topPlayerCard1 {
  grid-area: topPlayerCard1;
}

.topPlayerCard2 {
  grid-area: topPlayerCard2;
}

.leftPlayerCards {
  grid-area: leftPlayerCards;
}

.rightPlayerCards {
  grid-area: rightPlayerCards;
}

.currentPlayerCards {
  grid-area: currentPlayerCards;
}

.boardContainer {
  display: grid;
  grid-template-rows: 0fr 1fr;
  place-items: center;
  place-content: center;
  width: 100%;
  height: 100%;
  max-width: 750px;
}

.boardContainer.fourPlayers {
  grid-template-columns: 0fr 1fr 0fr;
  grid-template-areas:
    ". topPlayerCards ."
    "leftPlayerCards board rightPlayerCards";
}

.boardContainer.fivePlayers {
  grid-template-columns: 0fr 0.5fr 0.5fr 0fr;
  grid-template-areas:
    ". topPlayerCard1 topPlayerCard2 ."
    "leftPlayerCards board board rightPlayerCards"
    ". currentPlayerCards currentPlayerCards .";
}

.board {
  grid-area: board;
  align-items: center;
  justify-items: center;
  height: 100% !important;
  max-width: 750px;
}

/* mobileLarge breakpoint */
@media (min-height: 667px) {
  .fullBoardGrid {
    gap: 1rem;
  }
}


@media (min-height: 700px) and (min-width: 1000px) {
  .fullBoardGrid {
    gap: 1rem;
    padding: 1rem 0.75rem;
  }

  .boardContainer {
    grid-template-rows: 100px 1fr;
    max-width: 750px;
  }

  .leftPlayerCards,
  .rightPlayerCards,
  .topPlayerCards,
  .topPlayerCard1,
  .topPlayerCard2 {
    height: 50px;
    width: 50px
  }
}

/* larger desktop viewport styles */
@media (min-height: 800px) and (min-width: 1500px) {
  .fullBoardGrid {
    width: 100vw;
    height: 100dvh;
    display: grid;
    overflow: hidden;
    grid-template-rows: 0.25fr 0.5fr 0.25fr;
    place-items: center;
    place-content: center;
    gap: 1rem;
    padding: 0;
  }

  .fullBoardGrid.fourPlayers {
    grid-template-columns: 0.25fr 0.5fr 0.25fr;
    grid-template-areas:
      "leftPlayerCards topPlayerCards rightPlayerCards"
      "leftPlayerCards board rightPlayerCards"
      "leftPlayerCards currentPlayerCards rightPlayerCards";
  }

  .fullBoardGrid.fivePlayers {
    grid-template-columns: 0.05fr 0.45fr 0.45fr 0.05fr;
    grid-template-areas:
      "leftPlayerCards topPlayerCard1 topPlayerCard2 rightPlayerCards"
      "leftPlayerCards board board rightPlayerCards"
      "leftPlayerCards currentPlayerCards currentPlayerCards rightPlayerCards";
  }


  .boardContainer {
    display: block;
    grid-area: board;
    max-width: 100%;
  }

  .board {
    align-items: center;
    justify-items: center;
    height: 100% !important;
    max-width: 950px;
  }

  .leftPlayerCards,
  .rightPlayerCards,
  .topPlayerCards,
  .topPlayerCard1,
  .topPlayerCard2 {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    transform: none;
  }

  .topPlayerCards,
  .topPlayerCard1,
  .topPlayerCard2 {
    height: 210px;
    width: 502px;
  }

  .topPlayerCard1 {
    justify-self: start;
    margin-left: 2rem;
  }

  .topPlayerCard2 {
    justify-self: end;
    margin-right: 2rem;
  }

  .leftPlayerCards {
    height: 502px;
    width: 210px;
  }

  .rightPlayerCards {
    height: 502px;
    width: 210px;
  }

}