.gridContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  grid-template-areas:
    ". squeakDeck squeakHand0 squeakHand1 squeakHand2 squeakHand3"
    "playerDeck playerHand . . . .";
  max-width: 70%;
  background-color: rgb(22 101 52);
  padding: 0.5rem;
  border-radius: 0.375rem;
  border: 2px solid hsl(120deg 100% 86%);
  transition: all 150ms;
}

.reversedGridContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  grid-template-areas:
    "squeakHand3 squeakHand2 squeakHand1 squeakHand0 squeakDeck ."
    ". . . . playerHand playerDeck";
  max-width: 70%;
  background-color: rgb(22 101 52);
  padding: 0.5rem;
  border-radius: 0.375rem;
  border: 2px solid hsl(120deg 100% 86%);
  transition: all 150ms;
}

@media (max-height: 768px) or (max-width: 1500px) {

  .gridContainer,
  .reversedGridContainer {
    max-width: 100%;
  }
}

.squeakDeck {
  grid-area: squeakDeck;
}

.squeakHand0 {
  grid-area: squeakHand0;
}

.squeakHand1 {
  grid-area: squeakHand1;
}

.squeakHand2 {
  grid-area: squeakHand2;
}

.squeakHand3 {
  grid-area: squeakHand3;
}

.playerDeck {
  grid-area: playerDeck;
}

.playerHand {
  grid-area: playerHand;
}

.playerAvatar {
  position: absolute;
  right: -4rem;
  bottom: 0;
}