.fullBoardGrid {
  width: 100vw;
  /*^ try 100% if overflow occurs*/
  height: 100vh;
  display: grid;
  grid-template-rows: 0.25fr 0.5fr 0.25fr;
  grid-template-columns: 0.25fr 0.5fr 0.25fr;
  grid-template-areas:
    ". topPlayerCards settings"
    "leftPlayerCards board rightPlayerCards"
    ". currentPlayerCards .";
  gap: 1rem;
}

.currentPlayerCards,
.leftPlayerCards,
.rightPlayerCards,
.topPlayerCards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topPlayerCards {
  grid-area: topPlayerCards;
}

.settings {
  grid-area: settings;
}

.leftPlayerCards {
  grid-area: leftPlayerCards;
}

.board {
  grid-area: board;
  align-items: center;
  justify-items: center;
}

.rightPlayerCards {
  grid-area: rightPlayerCards;
}

.currentPlayerCards {
  grid-area: currentPlayerCards;
}