.fullBoardGrid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 0.25fr 0.5fr 0.25fr;
  grid-template-columns: 0.25fr 0.5fr 0.25fr;
  grid-template-areas:
    "leftPlayerCards topPlayerCards rightPlayerCards"
    "leftPlayerCards board rightPlayerCards"
    "leftPlayerCards currentPlayerCards rightPlayerCards";
  gap: 1rem;
}

/* keeps proportions when playing with less than 4 players */
.fullBoardGrid>div {
  min-width: 100%;
}

.leftPlayerCards,
.rightPlayerCards {
  position: relative;
}

.currentPlayerCards,
.leftPlayerCards,
.rightPlayerCards,
.topPlayerCards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topPlayerCards {
  grid-area: topPlayerCards;
}


/* maybe have this be positioned absolutely in top right? */
.settings {
  grid-area: settings;
}

.leftPlayerCards {
  grid-area: leftPlayerCards;
}

.board {
  grid-area: board;
  align-items: center;
  justify-items: center;
}

.rightPlayerCards {
  grid-area: rightPlayerCards;
}

.currentPlayerCards {
  grid-area: currentPlayerCards;
}